Quint/web/WEB-INF/wsdl/localhost_8080/Corporation/CorporationWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller/">

<xs:element name="addCandidateApplication" type="tns:addCandidateApplication"/>

<xs:element name="addCandidateApplicationResponse" type="tns:addCandidateApplicationResponse"/>

<xs:element name="deleteCandidateApplication" type="tns:deleteCandidateApplication"/>

<xs:element name="deleteCandidateApplicationResponse" type="tns:deleteCandidateApplicationResponse"/>

<xs:element name="deleteProposedInternship" type="tns:deleteProposedInternship"/>

<xs:element name="deleteProposedInternshipResponse" type="tns:deleteProposedInternshipResponse"/>

<xs:element name="getProposedInternship" type="tns:getProposedInternship"/>

<xs:element name="getProposedInternshipResponse" type="tns:getProposedInternshipResponse"/>

<xs:element name="listCandidates" type="tns:listCandidates"/>

<xs:element name="listCandidatesResponse" type="tns:listCandidatesResponse"/>

<xs:element name="listDB" type="tns:listDB"/>

<xs:element name="listDBResponse" type="tns:listDBResponse"/>

<xs:element name="listProposedInternships" type="tns:listProposedInternships"/>

<xs:element name="listProposedInternshipsFiltered" type="tns:listProposedInternshipsFiltered"/>

<xs:element name="listProposedInternshipsFilteredResponse" type="tns:listProposedInternshipsFilteredResponse"/>

<xs:element name="listProposedInternshipsResponse" type="tns:listProposedInternshipsResponse"/>

<xs:element name="proposeInternship" type="tns:proposeInternship"/>

<xs:element name="proposeInternshipResponse" type="tns:proposeInternshipResponse"/>

<xs:complexType name="listProposedInternshipsFiltered">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="departement" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listProposedInternshipsFilteredResponse">
<xs:sequence>
<xs:element name="return" type="tns:internshipProposal" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internshipProposal">
<xs:sequence>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="personInCharge" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="postDate" type="xs:string" minOccurs="0"/>
<xs:element name="provided" type="xs:boolean"/>
<xs:element name="salary" type="xs:int"/>
<xs:element name="selectedCandidate" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listProposedInternships">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listProposedInternshipsResponse">
<xs:sequence>
<xs:element name="return" type="tns:internshipProposal" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProposedInternship">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProposedInternshipResponse">
<xs:sequence>
<xs:element name="return" type="tns:internshipProposal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCandidateApplication">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idInternship" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCandidateApplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCandidateApplication">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idInternship" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCandidateApplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCandidates">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCandidatesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProposedInternship">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProposedInternshipResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDB">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listDBResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="proposeInternship">
<xs:sequence>
<xs:element name="postDate" type="xs:string" minOccurs="0"/>
<xs:element name="salary" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="personInCharge" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proposeInternshipResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>