Quint/web/WEB-INF/wsdl/localhost_8080/Corporation/CorporationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="CorporationWS">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://localhost:8080/Corporation/CorporationWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listDB">
<part name="parameters" element="tns:listDB"/>
</message>
<message name="listDBResponse">
<part name="parameters" element="tns:listDBResponse"/>
</message>
<message name="addCandidateApplication">
<part name="parameters" element="tns:addCandidateApplication"/>
</message>
<message name="addCandidateApplicationResponse">
<part name="parameters" element="tns:addCandidateApplicationResponse"/>
</message>
<message name="deleteCandidateApplication">
<part name="parameters" element="tns:deleteCandidateApplication"/>
</message>
<message name="deleteCandidateApplicationResponse">
<part name="parameters" element="tns:deleteCandidateApplicationResponse"/>
</message>
<message name="proposeInternship">
<part name="parameters" element="tns:proposeInternship"/>
</message>
<message name="proposeInternshipResponse">
<part name="parameters" element="tns:proposeInternshipResponse"/>
</message>
<message name="deleteProposedInternship">
<part name="parameters" element="tns:deleteProposedInternship"/>
</message>
<message name="deleteProposedInternshipResponse">
<part name="parameters" element="tns:deleteProposedInternshipResponse"/>
</message>
<message name="listProposedInternships">
<part name="parameters" element="tns:listProposedInternships"/>
</message>
<message name="listProposedInternshipsResponse">
<part name="parameters" element="tns:listProposedInternshipsResponse"/>
</message>
<message name="listProposedInternshipsFiltered">
<part name="parameters" element="tns:listProposedInternshipsFiltered"/>
</message>
<message name="listProposedInternshipsFilteredResponse">
<part name="parameters" element="tns:listProposedInternshipsFilteredResponse"/>
</message>
<message name="getProposedInternship">
<part name="parameters" element="tns:getProposedInternship"/>
</message>
<message name="getProposedInternshipResponse">
<part name="parameters" element="tns:getProposedInternshipResponse"/>
</message>
<message name="listCandidates">
<part name="parameters" element="tns:listCandidates"/>
</message>
<message name="listCandidatesResponse">
<part name="parameters" element="tns:listCandidatesResponse"/>
</message>
<portType name="CorporationWS">
<operation name="listDB">
<input wsam:Action="http://controller/CorporationWS/listDBRequest" message="tns:listDB"/>
<output wsam:Action="http://controller/CorporationWS/listDBResponse" message="tns:listDBResponse"/>
</operation>
<operation name="addCandidateApplication">
<input wsam:Action="http://controller/CorporationWS/addCandidateApplicationRequest" message="tns:addCandidateApplication"/>
<output wsam:Action="http://controller/CorporationWS/addCandidateApplicationResponse" message="tns:addCandidateApplicationResponse"/>
</operation>
<operation name="deleteCandidateApplication">
<input wsam:Action="http://controller/CorporationWS/deleteCandidateApplicationRequest" message="tns:deleteCandidateApplication"/>
<output wsam:Action="http://controller/CorporationWS/deleteCandidateApplicationResponse" message="tns:deleteCandidateApplicationResponse"/>
</operation>
<operation name="proposeInternship">
<input wsam:Action="http://controller/CorporationWS/proposeInternshipRequest" message="tns:proposeInternship"/>
<output wsam:Action="http://controller/CorporationWS/proposeInternshipResponse" message="tns:proposeInternshipResponse"/>
</operation>
<operation name="deleteProposedInternship">
<input wsam:Action="http://controller/CorporationWS/deleteProposedInternshipRequest" message="tns:deleteProposedInternship"/>
<output wsam:Action="http://controller/CorporationWS/deleteProposedInternshipResponse" message="tns:deleteProposedInternshipResponse"/>
</operation>
<operation name="listProposedInternships">
<input wsam:Action="http://controller/CorporationWS/listProposedInternshipsRequest" message="tns:listProposedInternships"/>
<output wsam:Action="http://controller/CorporationWS/listProposedInternshipsResponse" message="tns:listProposedInternshipsResponse"/>
</operation>
<operation name="listProposedInternshipsFiltered">
<input wsam:Action="http://controller/CorporationWS/listProposedInternshipsFilteredRequest" message="tns:listProposedInternshipsFiltered"/>
<output wsam:Action="http://controller/CorporationWS/listProposedInternshipsFilteredResponse" message="tns:listProposedInternshipsFilteredResponse"/>
</operation>
<operation name="getProposedInternship">
<input wsam:Action="http://controller/CorporationWS/getProposedInternshipRequest" message="tns:getProposedInternship"/>
<output wsam:Action="http://controller/CorporationWS/getProposedInternshipResponse" message="tns:getProposedInternshipResponse"/>
</operation>
<operation name="listCandidates">
<input wsam:Action="http://controller/CorporationWS/listCandidatesRequest" message="tns:listCandidates"/>
<output wsam:Action="http://controller/CorporationWS/listCandidatesResponse" message="tns:listCandidatesResponse"/>
</operation>
</portType>
<binding name="CorporationWSPortBinding" type="tns:CorporationWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCandidateApplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCandidateApplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="proposeInternship">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProposedInternship">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listProposedInternships">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listProposedInternshipsFiltered">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProposedInternship">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCandidates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CorporationWS">
<port name="CorporationWSPort" binding="tns:CorporationWSPortBinding">
<soap:address location="http://localhost:8080/Corporation/CorporationWS"/>
</port>
</service>
</definitions>