QuintDB/web/WEB-INF/wsdl/localhost_8080/QuintDB/DbWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://databaseApplication/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://databaseApplication/" name="DbWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://databaseApplication/" schemaLocation="http://localhost:8080/QuintDB/DbWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="queryInfo">
<part name="parameters" element="tns:queryInfo"/>
</message>
<message name="queryInfoResponse">
<part name="parameters" element="tns:queryInfoResponse"/>
</message>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"/>
</message>
<message name="getPasswordResponse">
<part name="parameters" element="tns:getPasswordResponse"/>
</message>
<message name="setPassword">
<part name="parameters" element="tns:setPassword"/>
</message>
<message name="setPasswordResponse">
<part name="parameters" element="tns:setPasswordResponse"/>
</message>
<message name="listData">
<part name="parameters" element="tns:listData"/>
</message>
<message name="listDataResponse">
<part name="parameters" element="tns:listDataResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addNewUser">
<part name="parameters" element="tns:addNewUser"/>
</message>
<message name="addNewUserResponse">
<part name="parameters" element="tns:addNewUserResponse"/>
</message>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents"/>
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse"/>
</message>
<message name="searchStudent">
<part name="parameters" element="tns:searchStudent"/>
</message>
<message name="searchStudentResponse">
<part name="parameters" element="tns:searchStudentResponse"/>
</message>
<message name="getNumberOfUsers">
<part name="parameters" element="tns:getNumberOfUsers"/>
</message>
<message name="getNumberOfUsersResponse">
<part name="parameters" element="tns:getNumberOfUsersResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="setAdminRight">
<part name="parameters" element="tns:setAdminRight"/>
</message>
<message name="setAdminRightResponse">
<part name="parameters" element="tns:setAdminRightResponse"/>
</message>
<message name="editUserProfile">
<part name="parameters" element="tns:editUserProfile"/>
</message>
<message name="editUserProfileResponse">
<part name="parameters" element="tns:editUserProfileResponse"/>
</message>
<message name="emailAlreadyUsed">
<part name="parameters" element="tns:emailAlreadyUsed"/>
</message>
<message name="emailAlreadyUsedResponse">
<part name="parameters" element="tns:emailAlreadyUsedResponse"/>
</message>
<message name="userPasswordMatch">
<part name="parameters" element="tns:userPasswordMatch"/>
</message>
<message name="userPasswordMatchResponse">
<part name="parameters" element="tns:userPasswordMatchResponse"/>
</message>
<message name="isUserInDB">
<part name="parameters" element="tns:isUserInDB"/>
</message>
<message name="isUserInDBResponse">
<part name="parameters" element="tns:isUserInDBResponse"/>
</message>
<message name="isUSerAdmin">
<part name="parameters" element="tns:isUSerAdmin"/>
</message>
<message name="isUSerAdminResponse">
<part name="parameters" element="tns:isUSerAdminResponse"/>
</message>
<portType name="DbWebService">
<operation name="queryInfo">
<input wsam:Action="http://databaseApplication/DbWebService/queryInfoRequest" message="tns:queryInfo"/>
<output wsam:Action="http://databaseApplication/DbWebService/queryInfoResponse" message="tns:queryInfoResponse"/>
</operation>
<operation name="getPassword">
<input wsam:Action="http://databaseApplication/DbWebService/getPasswordRequest" message="tns:getPassword"/>
<output wsam:Action="http://databaseApplication/DbWebService/getPasswordResponse" message="tns:getPasswordResponse"/>
</operation>
<operation name="setPassword">
<input wsam:Action="http://databaseApplication/DbWebService/setPasswordRequest" message="tns:setPassword"/>
<output wsam:Action="http://databaseApplication/DbWebService/setPasswordResponse" message="tns:setPasswordResponse"/>
</operation>
<operation name="listData">
<input wsam:Action="http://databaseApplication/DbWebService/listDataRequest" message="tns:listData"/>
<output wsam:Action="http://databaseApplication/DbWebService/listDataResponse" message="tns:listDataResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://databaseApplication/DbWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://databaseApplication/DbWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addNewUser">
<input wsam:Action="http://databaseApplication/DbWebService/addNewUserRequest" message="tns:addNewUser"/>
<output wsam:Action="http://databaseApplication/DbWebService/addNewUserResponse" message="tns:addNewUserResponse"/>
</operation>
<operation name="getAllStudents">
<input wsam:Action="http://databaseApplication/DbWebService/getAllStudentsRequest" message="tns:getAllStudents"/>
<output wsam:Action="http://databaseApplication/DbWebService/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
</operation>
<operation name="searchStudent">
<input wsam:Action="http://databaseApplication/DbWebService/searchStudentRequest" message="tns:searchStudent"/>
<output wsam:Action="http://databaseApplication/DbWebService/searchStudentResponse" message="tns:searchStudentResponse"/>
</operation>
<operation name="getNumberOfUsers">
<input wsam:Action="http://databaseApplication/DbWebService/getNumberOfUsersRequest" message="tns:getNumberOfUsers"/>
<output wsam:Action="http://databaseApplication/DbWebService/getNumberOfUsersResponse" message="tns:getNumberOfUsersResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://databaseApplication/DbWebService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://databaseApplication/DbWebService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="setAdminRight">
<input wsam:Action="http://databaseApplication/DbWebService/setAdminRightRequest" message="tns:setAdminRight"/>
<output wsam:Action="http://databaseApplication/DbWebService/setAdminRightResponse" message="tns:setAdminRightResponse"/>
</operation>
<operation name="editUserProfile">
<input wsam:Action="http://databaseApplication/DbWebService/editUserProfileRequest" message="tns:editUserProfile"/>
<output wsam:Action="http://databaseApplication/DbWebService/editUserProfileResponse" message="tns:editUserProfileResponse"/>
</operation>
<operation name="emailAlreadyUsed">
<input wsam:Action="http://databaseApplication/DbWebService/emailAlreadyUsedRequest" message="tns:emailAlreadyUsed"/>
<output wsam:Action="http://databaseApplication/DbWebService/emailAlreadyUsedResponse" message="tns:emailAlreadyUsedResponse"/>
</operation>
<operation name="userPasswordMatch">
<input wsam:Action="http://databaseApplication/DbWebService/userPasswordMatchRequest" message="tns:userPasswordMatch"/>
<output wsam:Action="http://databaseApplication/DbWebService/userPasswordMatchResponse" message="tns:userPasswordMatchResponse"/>
</operation>
<operation name="isUserInDB">
<input wsam:Action="http://databaseApplication/DbWebService/isUserInDBRequest" message="tns:isUserInDB"/>
<output wsam:Action="http://databaseApplication/DbWebService/isUserInDBResponse" message="tns:isUserInDBResponse"/>
</operation>
<operation name="isUSerAdmin">
<input wsam:Action="http://databaseApplication/DbWebService/isUSerAdminRequest" message="tns:isUSerAdmin"/>
<output wsam:Action="http://databaseApplication/DbWebService/isUSerAdminResponse" message="tns:isUSerAdminResponse"/>
</operation>
</portType>
<binding name="DbWebServicePortBinding" type="tns:DbWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="queryInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNumberOfUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setAdminRight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUserProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="emailAlreadyUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userPasswordMatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isUserInDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isUSerAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DbWebService">
<port name="DbWebServicePort" binding="tns:DbWebServicePortBinding">
<soap:address location="http://localhost:8080/QuintDB/DbWebService"/>
</port>
</service>
</definitions>